Repository alizada-sharifi/frontend-tarkhineh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: integrate Tailwind CSS with configuration
  package-lock.json
  package.json
  postcss.config.js
  src/App.jsx
  src/index.css
  tailwind.config.js
Due: prettier --write, eslint --fix

chore: Write the project structure GUIDELINE
  GUIDELINE.md
Due: none

Write the contribution guideline
  CONTRIBUTING.md
Due: none

feat(Github): Create pull request template
  .github/pull_request_template.md
Due: none

Update contributing guideline
  CONTRIBUTING.md
Due: none

Clear and remove project root files
  src/App.css
  src/App.jsx
  src/main.jsx
  src/styles/index.css
Due: prettier --write, eslint --fix

Update Eslint rules and ignore files
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix

chore: Add the contributing and folder structure
  README.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

feat: Setup React Router with BrowserRouter, Routes and NavLinks
  package-lock.json
  package.json
  src/App.jsx
  src/components/Navbar.jsx
  src/layouts/RootLayout.jsx
  src/main.jsx
  src/pages/Home.jsx
  src/pages/NotFound.jsx
  src/pages/Users.jsx
  src/router/index.js
Due: eslint --fix

fix: ESlint import/no-unresolved error
  eslint.config.js
  vite.config.js
Due: eslint --fix

feat: configure typography, colors, and spacing in Tailwind
  src/App.jsx
  src/assets/fonts/Estedad-Black.ttf
  src/assets/fonts/Estedad-Bold.ttf
  src/assets/fonts/Estedad-ExtraBold.ttf
  src/assets/fonts/Estedad-ExtraLight.ttf
  src/assets/fonts/Estedad-Light.ttf
  src/assets/fonts/Estedad-Medium.ttf
  src/assets/fonts/Estedad-Regular.ttf
  src/assets/fonts/Estedad-SemiBold.ttf
  src/assets/fonts/Estedad-Thin.ttf
  src/assets/fonts/fonts.css
  tailwind.config.js
Due: prettier --write, eslint --fix

fix: update font family, spacing, and border-radius to match design
  src/App.jsx
  src/styles/index.css
  tailwind.config.js
Due: prettier --write, eslint --fix

chore: Update pull request template
  .github/pull_request_template.md
Due: none

chore: Add issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

chore: Turn on blank issues template
  .github/ISSUE_TEMPLATE/config.yml
Due: none

fix: Fix issue template URL issue
  .github/ISSUE_TEMPLATE/config.yml
Due: none

refactor: standardize function declarations and enforce ESLint configurations
  src/components/Navbar.jsx
  src/pages/Home.jsx
  src/pages/NotFound.jsx
  src/pages/Users.jsx
  src/router/index.js
Due: eslint --fix

style: fix ESLint formatting issues
  src/App.jsx
  src/components/Navbar.jsx
  src/layouts/RootLayout.jsx
  src/main.jsx
  src/pages/Home.jsx
  src/pages/NotFound.jsx
  src/pages/Users.jsx
  src/router/index.js
Due: eslint --fix

fix: Remove extra Outlet
  src/layouts/RootLayout.jsx
Due: eslint --fix

feat: Setup system design
  src/assets/fonts/Estedad-Black.woff2
  src/assets/fonts/Estedad-Bold.woff2
  src/assets/fonts/Estedad-ExtraBold.woff2
  src/assets/fonts/Estedad-ExtraLight.woff2
  src/assets/fonts/Estedad-Light.woff2
  src/assets/fonts/Estedad-Medium.woff2
  src/assets/fonts/Estedad-Regular.woff2
  src/assets/fonts/Estedad-SemiBold.woff2
  src/assets/fonts/Estedad-Thin.woff2
  src/pages/Home.jsx
  src/styles/fonts.css
  src/styles/index.css
  tailwind.config.js
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: none

Update and rename GUIDELINE.md to FOLDER_STRUCTURE.md
  FOLDER_STRUCTURE.md
Due: none

chore: Add the link to the Figma file.
  README.md
Due: none

feat: Setup the Zustand
  package-lock.json
  package.json
  src/stores/themeStore.js
Due: eslint --fix

feat: Create cn function
  eslint.config.js
  package-lock.json
  package.json
  src/App.jsx
  src/helpers/common.js
Due: eslint --fix

chore: Update folder structure and tools
  FOLDER_STRUCTURE.md
  README.md
  src/schemas/.gitkeep
Due: none

feat: add footer section
  index.html
  src/assets/Images/footer_bg.jpeg
  src/assets/icons/footerIcons.jsx
  src/layouts/Footer.jsx
  src/layouts/RootLayout.jsx
  tailwind.config.js
Due: eslint --fix

feature: install and use react-hook-form for form validation
  package-lock.json
  package.json
  src/assets/icons/footerIcons.jsx
  src/components/icons/index.js
  src/components/icons/instagramDesktopIcon.jsx
  src/components/icons/instagramIcon.jsx
  src/components/icons/telegramDesktopIcon.jsx
  src/components/icons/telegramIcon.jsx
  src/components/icons/twitterDesktopIcon.jsx
  src/components/icons/twitterIcon.jsx
  src/components/layout/Footer.jsx
  src/layouts/Footer.jsx
  src/layouts/RootLayout.jsx
Due: eslint --fix

fix: Fix auth page issue
  eslint.config.js
  src/App.jsx
  src/components/Button.jsx
  src/components/Navbar.jsx
  src/components/form/Input.jsx
  src/components/form/index.js
  src/components/icons/Logo.jsx
  src/components/index.js
  src/helpers/Inputs/ConfirmPasswordInput.jsx
  src/helpers/Inputs/EmailInput.jsx
  src/helpers/Inputs/FullnameInput.jsx
  src/helpers/Inputs/PasswordInput.jsx
  src/hooks/UseForm.jsx
  src/hooks/index.js
  src/layouts/AuthLayout.jsx
  src/layouts/MainLayout.jsx
  src/main.jsx
  src/pages/Home.jsx
  src/pages/Login.jsx
  src/pages/SignUP.jsx
  src/pages/Users.jsx
  src/pages/auth/Login.jsx
  src/pages/auth/Register.jsx
  src/pages/index.js
  src/router/authRouter.jsx
  src/router/index.js
  src/schemas/index.js
  src/schemas/loginSchema.js
  src/schemas/registerSchema.js
  tailwind.config.js
Due: eslint --fix

feat: design authentication pages
  index.html
  package-lock.json
  package.json
  src/App.jsx
  src/components/Navbar.jsx
  src/components/icons/Logo.jsx
  src/components/icons/index.js
  src/helpers/Inputs/ConfirmPasswordInput.jsx
  src/helpers/Inputs/EmailInput.jsx
  src/helpers/Inputs/FullnameInput.jsx
  src/helpers/Inputs/PasswordInput.jsx
  src/pages/Login.jsx
  src/pages/SignUP.jsx
  tailwind.config.js
Due: eslint --fix

feat: Design main layout header section
  index.html
  src/assets/images/mobile_navbar_layer.png
  src/components/Button.jsx
  src/components/icons/Close.jsx
  src/components/icons/Logo.jsx
  src/components/icons/Menu.jsx
  src/components/icons/Microscope.jsx
  src/components/icons/Search.jsx
  src/components/icons/ShoppingCart.jsx
  src/components/icons/User.jsx
  src/components/icons/index.js
  src/components/layout/website/Footer.jsx
  src/components/layout/website/Header.jsx
  src/components/layout/website/MobileNavbar.jsx
  src/components/layout/website/index.js
  src/layouts/MainLayout.jsx
  src/layouts/index.js
  src/pages/Home.jsx
  src/pages/NotFound.jsx
  src/pages/auth/Login.jsx
  src/pages/auth/Register.jsx
  src/pages/index.js
  src/router/authRouter.jsx
  src/router/index.js
  src/router/mainRouter.jsx
  src/router/routePaths.js
Due: eslint --fix

fix: Fix footer section design issue
  public/images/footer_layer.png
  public/images/mobile_navbar_layer.png
  src/assets/images/footer_layer.png
  src/components/form/Textarea.jsx
  src/components/form/index.js
  src/components/icons/Instagram.jsx
  src/components/icons/Telegram.jsx
  src/components/icons/X.jsx
  src/components/icons/index.js
  src/components/layout/website/Footer.jsx
  src/components/layout/website/MessageForm.jsx
  src/router/routePaths.js
  src/schemas/index.js
  src/schemas/messageSchema.js
  tailwind.config.js
Due: eslint --fix

fix: Fix some UI and Structure issue
  src/components/layout/website/Footer.jsx
  src/components/layout/website/Header.jsx
  src/components/layout/website/MobileNavbar.jsx
  src/hooks/UseForm.js
  src/pages/NotFound.jsx
Due: eslint --fix

fix: Fix message form validation and UI issue
  src/components/form/Textarea.jsx
  src/components/layout/website/MessageForm.jsx
  src/schemas/messageSchema.js
Due: eslint --fix

feat: design branch page
  src/assets/images/dolmeh-kalam.jpeg
  src/assets/images/person.jpeg
  src/assets/images/slider1.jpeg
  src/assets/images/slider2.png
  src/components/Button.jsx
  src/components/Slider.jsx
  src/components/branch/BranchSlider.jsx
  src/components/branch/foods/FoodContainer.jsx
  src/components/branch/foods/Item.jsx
  src/components/branch/foods/index.js
  src/components/form/SearchInput.jsx
  src/components/form/index.js
  src/components/icons/Clock.jsx
  src/components/icons/Heart.jsx
  src/components/icons/LeftArrow.jsx
  src/components/icons/Location.jsx
  src/components/icons/Note.jsx
  src/components/icons/Phone.jsx
  src/components/icons/RightArrow.jsx
  src/components/icons/Star.jsx
  src/components/icons/index.js
  src/components/testimonial/Container.jsx
  src/components/testimonial/Item.jsx
  src/pages/Branches.jsx
  src/pages/index.js
  src/router/mainRouter.jsx
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.css
  eslint --fix: any of: *.{js,jsx}
